.glyphicon-tint {
	color: #b3e5fc;
}
h1 {
	font-size: 50px;
	margin-left: -10px;
}
h3{
	font-size: 50px;
	margin-left: -35px;
}
h2 {
	font-size: 200px;
}
body {
background: radial-gradient(#ffffff, #F0F8FF, #63c0f9);
}
.start-btn {
 	border-radius 20px;
	font-size: 2rem;
	font-weight: 400;
	font-family: inherit;	 
    margin-left:1px;
    margin-top: 40px;
}
.start-btn:hover{
	background-color: #4CAF50;
	color:white; 
}

