body {
	background: radial-gradient(#ffffff, #F0F8FF, #63c0f9);
}

.container {
	max-height: 150px;
	overflow: auto;
}

h2, h3 {
   color: Black;
}


.btn-pink { 
  color: #ffffff; 
  background-color: #F48FB1; 
  border-color: #F48FB1; 
}

.btn-pink:hover, 
.btn-pink:focus, 
.btn-pink:active, 
.btn-pink.active, 
.open .dropdown-toggle.btn-pink { 
  font-weight: bold;
  color: #ffffff; 
  background-color: #993f6c; 
  border-color: #993f6c; 
} 
 
.btn-pink:active, 
.btn-pink.active, 
.open .dropdown-toggle.btn-pink { 
  background-image: none; 
} 
 
.btn-pink.disabled, 
.btn-pink[disabled], 
fieldset[disabled] .btn-pink, 
.btn-pink.disabled:hover, 
.btn-pink[disabled]:hover, 
fieldset[disabled] .btn-pink:hover, 
.btn-pink.disabled:focus, 
.btn-pink[disabled]:focus, 
fieldset[disabled] .btn-pink:focus, 
.btn-pink.disabled:active, 
.btn-pink[disabled]:active, 
fieldset[disabled] .btn-pink:active, 
.btn-pink.disabled.active, 
.btn-pink[disabled].active, 
fieldset[disabled] .btn-pink.active { 
  background-color: #993f6c; 
  border-color: #993f6c; 
} 
 
.btn-pink .badge { 
  color: #F48FB1; 
  background-color: #ffffff; 
}

.btn-dblue { 
  color: #ffffff; 
  background-color: #1565c0; 
  border-color: #1565c0; 
}

.btn-dblue:hover, 
.btn-dblue:focus, 
.btn-dblue:active, 
.btn-dblue.active, 
.open .dropdown-toggle.btn-dblue {
  font-weight: bold; 
  color: #FFFFFF; 
  background-color: #000066; 
  border-color: #000066; 
} 
 
.btn-dblue:active, 
.btn-dblue.active, 
.open .dropdown-toggle.btn-dblue { 
  background-image: none; 
} 
 
.btn-dblue.disabled, 
.btn-dblue[disabled], 
fieldset[disabled] .btn-dblue, 
.btn-dblue.disabled:hover, 
.btn-dblue[disabled]:hover, 
fieldset[disabled] .btn-dblue:hover, 
.btn-dblue.disabled:focus, 
.btn-dblue[disabled]:focus, 
fieldset[disabled] .btn-dblue:focus, 
.btn-dblue.disabled:active, 
.btn-dblue[disabled]:active, 
fieldset[disabled] .btn-dblue:active, 
.btn-dblue.disabled.active, 
.btn-dblue[disabled].active, 
fieldset[disabled] .btn-dblue.active { 
  background-color: #000066; 
  border-color: #000066; 
} 
 
.btn-dblue .badge { 
  color: #1565C0; 
  background-color: #FFFFFF; 
}

.btn-bgreen { 
  color: #ffffff; 
  background-color: #009688; 
  border-color: #009688; 
}

.btn-bgreen:hover, 
.btn-bgreen:focus, 
.btn-bgreen:active, 
.btn-bgreen.active, 
.open .dropdown-toggle.btn-bgreen { 
  font-weight: bold;
  color: #FFFFFF; 
  background-color: #003c00; 
  border-color: #003c00; 
} 
 
.btn-bgreen:active, 
.btn-bgreen.active, 
.open .dropdown-toggle.btn-bgreen { 
  background-image: none; 
} 
 
.btn-bgreen.disabled, 
.btn-bgreen[disabled], 
fieldset[disabled] .btn-bgreen, 
.btn-bgreen.disabled:hover, 
.btn-bgreen[disabled]:hover, 
fieldset[disabled] .btn-bgreen:hover, 
.btn-bgreen.disabled:focus, 
.btn-bgreen[disabled]:focus, 
fieldset[disabled] .btn-bgreen:focus, 
.btn-bgreen.disabled:active, 
.btn-bgreen[disabled]:active, 
fieldset[disabled] .btn-bgreen:active, 
.btn-bgreen.disabled.active, 
.btn-bgreen[disabled].active, 
fieldset[disabled] .btn-bgreen.active { 
  background-color: #003c00; 
  border-color:#003c00; 
} 
 
.btn-bgreen .badge { 
  color: #009688; 
  background-color: #FFFFFF; 
}

.btn-orange { 
  color: #ffffff; 
  background-color: #ff9800; 
  border-color: #ff9800; 
}

.btn-orange:hover, 
.btn-orange:focus, 
.btn-orange:active, 
.btn-orange.active, 
.open .dropdown-toggle.btn-orange {
  font-weight: bold; 
  color: #FFFFFF; 
  background-color: #8e4600; 
  border-color: #8e4600; 
} 
 
.btn-orange:active, 
.btn-orange.active, 
.open .dropdown-toggle.btn-orange { 
  background-image: none; 
} 
 
.btn-orange.disabled, 
.btn-orange[disabled], 
fieldset[disabled] .btn-orange, 
.btn-orange.disabled:hover, 
.btn-orange[disabled]:hover, 
fieldset[disabled] .btn-orange:hover, 
.btn-orange.disabled:focus, 
.btn-orange[disabled]:focus, 
fieldset[disabled] .btn-orange:focus, 
.btn-orange.disabled:active, 
.btn-orange[disabled]:active, 
fieldset[disabled] .btn-orange:active, 
.btn-orange.disabled.active, 
.btn-orange[disabled].active, 
fieldset[disabled] .btn-orange.active { 
  background-color: #8e4600; 
  border-color: #8e4600; 
} 
 
.btn-orange .badge { 
  color: #FF9800; 
  background-color: #FFFFFF; 
}

.btn-red { 
  color: #ffffff; 
  background-color: #f44336; 
  border-color: #f44336; 
}

.btn-red:hover, 
.btn-red:focus, 
.btn-red:active, 
.btn-red.active, 
.open .dropdown-toggle.btn-red { 
  font-weight: bold;
  color: #FFFFFF; 
  background-color: #990000; 
  border-color: #990000; 
} 
 
.btn-red:active, 
.btn-red.active, 
.open .dropdown-toggle.btn-red { 
  background-image: none; 
} 
 
.btn-red.disabled, 
.btn-red[disabled], 
fieldset[disabled] .btn-red, 
.btn-red.disabled:hover, 
.btn-red[disabled]:hover, 
fieldset[disabled] .btn-red:hover, 
.btn-red.disabled:focus, 
.btn-red[disabled]:focus, 
fieldset[disabled] .btn-red:focus, 
.btn-red.disabled:active, 
.btn-red[disabled]:active, 
fieldset[disabled] .btn-red:active, 
.btn-red.disabled.active, 
.btn-red[disabled].active, 
fieldset[disabled] .btn-red.active { 
  background-color: #990000; 
  border-color: #990000; 
} 
 
.btn-red .badge { 
  color: #F44336; 
  background-color: #FFFFFF; 
}

