/*new*/
h1{
color:white;
}
.btn{
	padding:25px;
	font-size: 1rem;
	font-weight: 400;
	font-family: inherit;	
	}
	
.back-btn{
	border-radius 20px;
	font-weight: 400;
	font-family: inherit;	
	margin-top: 100px;
	width:100px;
	padding:15px;
	margin-left: 15px;
}
 
.container{
margin-top: 10px;
left:0;
max-height: 150px;
}
.container1{
overflow:auto;
}

