.fa{
    color:white;
}

.table{
    border-collapse: separate;
    border-spacing: 0px 3vh;
}

.fa:hover{
    color: slategray;
}

.gray {
    color: slategray;
}
.scroll-table{
    height: 80vh;
    overflow: scroll;
}

.fa-calendar {
	float: right;
	margin-right: 3.5px;
	margin-top: 5px;
}

h1 {
padding-left: 33px;
}

