body {
/* 
    background-image: url('http://i68.tinypic.com/hs2qsi.png');
 */
 	background: url(../img/teardrop4.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
}

.btn {
    border-radius 20px;
	font-weight: 400;
	font-family: inherit;	
	margin-top: 500px;
	width:100px;
	padding: 0;
	border: none;
	background: none;
	font-size: 25px;
	white-space: normal;

}

.flash {
   animation-name: flash;
    animation-duration: 0.9s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    animation-play-state: running;
}

@keyframes flash {
    from {color: black;}
    to {color: white;}
}