.container !important {
    line-height: 20px;
    resize: none;
    margin-left: 2px;
    position: relative;
    padding: 0 2px;
    display: inline-block;
    background-size: contain ;
    
}

.form-control {
	color: white !important;
	font-size: 30px !important;
	max-width:120%;
}

.btn {
	background: white !important;
	color: black !important;
	border: #2196F3 !important;
	outline: #2196F3 !important;
}

input[type="submit"] {
	width: 25%;
}