/*new*/
body{
    background-color:  #F0F8FF;
	padding:26px;  
}
.btn{
	padding:25px;
	font-size: 1rem;
	font-weight: 400;
	font-family: inherit;	
	}
.dropdown{
        width:100%;
    }  
.back-btn{
	border-radius 20px;
	font-weight: 400;
	font-family: inherit;	
	margin-top: 140px;
	width:100px;
	padding:15px;
}
h1{
font-family: inherit;
font-size: 2.5rem;
} 
.navbar-header{
 position: absolute; 
left: 0; 
top: 0; 
width: 100%; 
margin-bottom: 150px; 
z-index: 10; 
padding:0px;
}
.dropdown-menu{
 position: absolute;
right: 0;
margin-left:160px;
}
.container{
margin-top: 50px;
position: absolute;
left:0;
max-height: 600px;
overflow:auto;
}

.fa-user-circle-o{
margin-left:180px;
}

.fa-envelope{
margin-left:201px;
}

.fa-question-circle{
margin-left:208px;
}

.fa-globe{
margin-left: 146px;
}

.fa-internet-explorer {
margin-left:50px;
color:blue;
}
.fa-facebook-square{
margin-left:43px;
color:blue;
}