/* new */
body{
    background-color:  #F0F8FF;
	padding:26px;  
}
.btn{
	padding:25px;
	font-size: 1rem;
	font-weight: 400;
	font-family: inherit;	
	}
.dropdown{
        width:100%;
    }  
.back-btn{
	border-radius 20px;
	font-weight: 400;
	font-family: inherit;	
	margin-top: 160px;
	width:30%;
	padding:15px;
}
h1{
font-family: inherit;
font-size: 2.5rem;
} 
.navbar-header{
 position: absolute; 
left: 0; 
top: 0; 
width: 100%; 
margin-bottom: 150px; 
z-index: 10; 
padding:0px;
}
.dropdown-menu{
 position: absolute;
right: 0;
font-size:1rem;
margin-left:260px;
padding:30px;
}
.container{
margin-top: 50px;
width: 100%; 
position: absolute;
left:0;
max-height: 600px;
}
.fa-user-circle-o{
margin-left:350px;
}

.fa-envelope{
margin-left:371px;
}

.fa-question-circle{
margin-left:343px;
}

.fa-globe{
margin-left:283px;
}

.fa-internet-explorer {
margin-left:77px;
color:blue;
}
.fa-facebook-square{
margin-left:66px;
color:blue;
}