.fa{
    color:white;
}
<<<<<<< HEAD
.fa:hover{
    color:black;    
}

.table{
    border-collapse: separate;
    border-spacing: 0px 15px;
}
.fa{
    color: white;
=======

.table{
    border-collapse: separate;
    border-spacing: 0px 3vh;
>>>>>>> master
}

.fa:hover{
    color: slategray;
<<<<<<< HEAD
=======
}

.gray {
    color: slategray;
}
.scroll-table{
    height: 80vh;
    overflow: scroll;
>>>>>>> master
}